{% extends "default/design.html" %}{% block title %}Vos applications{% endblock %} {% block content %}
<div class="container">
    <div class="masonry">
        <div class="item">
            <h1>Installer une application</h1>
            <div class="item card white shadows">
                <form>
                    <input type="text" placeholder="URL / depot git" name="url" />
                    <button type="submit" value="Submit">Installer</button>
                </form>
            </div>
        </div>
        <div class="item">
            <h1>Vos applications</h1>
            {% for app in myapp.users[session["utilisateur"]]["apps"]%}
            <div class="item">
                <div class="card white shadows">
                    <h1>{{ app}}</h1>
                    {% for key in myapp.users[session["utilisateur"]]["apps"][app] %}
                    <p>{{key}}: {{myapp.users[session["utilisateur"]]["apps"][app][key]}}</p>
                    {% endfor %}
                    <div class="backcard">
                        <pre><code>{{myapp.users[session["utilisateur"]]["apps"][app]|tojson|safe}}</code></pre>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="item">
            <h1>Applications installées</h1>
            {% for app in myapp.users["sys"]["apps"]%}
            <div class="card white shadows">
                <h1>{{ app}}</h1>
                {% for key in myapp.users["sys"]["apps"][app] %}
                <p>{{key}}: {{myapp.users["sys"]["apps"][app][key]}}</p>
                {% endfor %}
                <div class="backcard">
                    <pre><code>{{myapp.users["sys"]["apps"][app]|tojson|safe}}</code></pre>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
