{% extends "default/design.html" %} {% block title %}Connexion{% endblock %} {% block content %}
<div style="padding: 20px;">
    <h1>Connexion :</h1>
    <div class="row">
        <div class="col s12 m6">
        <form method="post" action="/connexion" class="card white shadows">
            <div class="row">
                <div class="col s12 m6">Prénom</div>
                <div class="col s12 m6"><input type="text" name="nom"></div>
                <div class="col s12 m6">Code</div>
                <div class="col s12 m6"><input type="password" name="code"></div><br>
                <div class="col s12"><button type="submit">Connexion !</button></div>
            </div>
            
        </form>
    </div>
    <div class="col s12 m6">
        <form method="post" action="/inscriptions" class="card white shadows">
            <div class="row">
                    <div class="col s12 m6">Prénom</div>
                    <div class="col s12 m6"><input type="text" name="nom"></div>
                    <div class="col s12 m6">Code</div>
                    <div class="col s12 m6"><input class type="password" name="code1"></div>
                    <div class="col s12 m6">Code (2)</div>
                    <div class="col s12 m6"><input type="password" name="code2"></div>
                    <div class="col s12"><button type="submite">Inscriptions !</button></div>
            </div>
        </form>
    </div>
    </div>
</div>


{% endblock %}
