{% extends "default/design.html" %} {% block title %}Connexion{% endblock %} {% block content %}
<div class="container">
    <div class="card white shadows logincard">
        <div class="header">
            <h1>Connexion</h1></div>
        <form class="content" method="post" action="/connexion">
            <div>
                <input placeholder="Prénom" type="text" name="nom">
            </div>
            <div>
                <input placeholder="Mot de passe" type="password" name="code">
            </div>
            <input type="hidden" value='{{ "/"+"/".join(request.url.split("/")[3:]) if "/"+"/".join(request.url.split("/")[3:]) if "/"+"/".join(request.url.split("/")[3:]) if "/"+"/".join(request.url.split("/")[3:]) not in  ["/connexion","/deconnexion"] else "/" }}' name="next">
            <button type="submit">Connexion !</button>
        </form>
        <div class="footer"><a style="color:#fff;" href="/inscriptions">Se créer un compte</a></div>
    </div>
</div>
{% endblock %}
