{% extends "default/design.html" %} {% block title %} Dashboard {% endblock %}{% block content %}
<script type="text/javascript" src="static/default/jms/widgets.js"></script>
<script type="text/javascript" src="static/default/jms/chatbot.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script type="text/javascript" src="static/default/jms/localisation.js"></script>
<div class="container">
    <div class="masonry" id="widgets">
        <div class="item">
            <div class="card white shadows">
                <div class="content">
                    <div class="messages chatbot"></div>
                    <center>
                        <form id="chatbot" action="/chatbot" style="padding: 0px;margin: 0px;">
                            <input type="text" name="text" id="chatbottext" placeholder="..." />
                            <button type="submit">Envoyer</button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
        {% if myapp.users[session["utilisateur"]]["herve"]["beta"] %}
        
        <div class="item">
                <div class="card white shadows">
                    <div class="content">
                        <h1>Votre position</h1>
                        <div id="map" style="height: 500px;"></div>
                    </div>
                </div>
        </div>
        
    {% endif %}
    </div>
</div>
{% endblock %}
