{% extends "default/design.html" %}{% block title %}Widgets{% endblock %} {% block content %}
<div class="container">
    <script type="text/javascript" src="/static/default/jms/managewidgets.js"></script>
    <h1>Widgets:</h1>
    <div class="masonry">
        <div class="item">
            <h1>Vos widgets </h1>
            {% for widget in myapp.users[session["utilisateur"]]["widgets"]%}
            <div class="card white shadows">
                <div class="content">
                    <p>{{ widget }}</p>
                    <p><a class="del button error" href="{{url_for('desactive', type='widget', what=widget|safe )}}">Enlever</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="item">
            <h1>Widgets disponibles : </h1>
            {% for widget in myapp.users["sys"]["widgets"]%}{% if not widget in myapp.users[session["utilisateur"]]["widgets"]%}
            <div class="card white shadows">
                <div class="content">
                    <p>{{ widget }} </p>
                    <p><a class="new button" href="{{url_for('active', type='widget', what=widget|safe )}}">Ajouter</a></p>
                </div>
            </div>
            {% endif %}{% endfor %}
        </div>
    </div>
</div>
{% endblock %}
