{% extends "default/design.html" %}{% block title %}Widgets{% endblock %} {% block content %}
<div class="container">
    <script type="text/javascript" src="/static/default/jms/managewidgets.js"></script>
    <h1>Widgets:</h1>
    <div class="masonry">
        <div class="item">
            <h1>Vos widgets </h1>
            {% for widget in myapp.settings()[session["utilisateur"]]["herve"]["widgets"] %}

            <div class="card white shadows">
                <div class="content">
                    <p>{{ widget }}</p>
                    <p><span class="del button error" data-what="{{ widget }}">Enlever</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="item">
            <h1>Widgets disponibles : </h1>
            {% for widget in myapp.users["sys"]["herve"]["widgets"]%}{% if not widget in myapp.users[session["utilisateur"]]["herve"]["widgets"]%}
            <div class="card white shadows">
                <div class="content">
                    <p>{{ widget }} </p>
                    <p><span class="new button" data-what="{{ widget }}">Ajouter</span></p>
                </div>
            </div>
            {% endif %}{% endfor %}
        </div>
    </div>
</div>
{% endblock %}
